{deps, [{bcrypt, ".*",
            {git, "git://github.com/chef/erlang-bcrypt.git", {branch, "master"}}}]}.

{eunit_opts, [{dir, "test"}]}.

{profiles, [
    {test, [
        {deps, [
            {proper, ".*", {git, "git://github.com/manopapad/proper.git", {branch, "master"}}}
        ]}
    ]}
]}.
